.card {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  object-fit: contain;
  height: 250px;
}

.card-body {
  flex-grow: 1;
}
.logo {
  max-height: 3em;
  margin-right: 1em;
}
